body{
    background-image: url(home.jpg);
    background-size: cover;
    /* background-position:; */
    /* margin: 0; */
    font-family: Arial, sans-sarif;

}
.main-header{
    display: flex;
    align-items: center;
  
    gap: 20px;
    padding: 12px 20px;
    position: relative;
}
.nav-box{
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 25px;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
    display: flex;
    gap: 30px;
}
.logo-box{
    padding: 12px 20px;

    
}
.link-box{
    margin: 0 auto;
}
.nav-box a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.log-out{
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 12px 25px;
    border-radius: 35px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.2);
    display: flex;
    gap: 30px;
}
.log-out a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}

.main-container{
    background: white;
    width: 90%;
    max-width: 1200px;
    margin: 40 px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    min-height: 70hvg;
}

